@using LasEmpanadas.Models

@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    Usuario userLogged = (Usuario)HttpContext.Current.Session["userLogged"];
    bool UserLoggedIn = userLogged != null;
    string nombre = "";

    if (UserLoggedIn)
    {
        nombre = userLogged.Email;
    }
}

@section css{
    @RenderSection("css", false)
}
@section meta{
    @RenderSection("meta", false)
}
@section js{
    @RenderSection("js", false)
}
@section nav{
    <nav class="uk-navbar uk-background-default" uk-sticky="bottom: #offset" uk-navbar="">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/"><img class="logo" src="~/Content/images/logo.png" /></a></li>
                <li><a href="/Pedidos/Iniciar">Inicia el pedido</a></li>
            </ul>
        </div>
        @if (!UserLoggedIn)
        {
            <div class="uk-navbar-right">
                <div class="uk-navbar-item">
                    <a href="/User/Login">Iniciar sesion</a>
                </div>
            </div>
        }
    </nav>
}

@RenderBody()
