@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";

}

@section css{
    @RenderSection("css",false)
}

@section meta{
    @RenderSection("meta",false)
}

@section js{
    @RenderSection("js",false)
}

@section nav{
    <nav class="uk-navbar uk-background-default" uk-sticky="bottom: #offset" uk-navbar="">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href="/"><img class="logo" src="~/Content/images/logo.png" /></a>
                </li>
                <li>
                    <a href="/Pedidos/Iniciar">Encarga tus empanadas</a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <a href="/Login"><i class="fas fa-sign-in-alt"></i>Username</a>
            </div>
        </div>
    </nav>
}

@RenderBody()
