* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#notfound {
    position: relative;
    height: 100vh;
    background-image:url("../images/fondo-naranja.jpg");
}

    #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.5;
}

    .notfound .notfound-404 {
        height: 158px;
        line-height: 153px;
        margin-bottom: 15vh;
    }

        .notfound .notfound-404 h1 {
            font-family: 'Josefin Sans', sans-serif;
            color: white;
            font-size: 220px;
            letter-spacing: 10px;
            margin: 0px;
            font-weight: 700;
            text-shadow: 2px 2px 0px #222, -2px -2px 0px #222;
        }

            .notfound .notfound-404 h1 > span {
                text-shadow: 2px 2px 0px #222, -2px -2px 0px #222, 0px 0px 8px #222;
            }

    .notfound p {
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-size: 16px;
        font-weight: bolder;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .notfound a {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        background: transparent;
        color: #222;
        background-color:white;
        border: 2px solid #222;
        display: inline-block;
        padding: 10px 25px;
        font-weight: 700;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .notfound a:hover {
            color: #ffab00;
            border-color: #ffab00;
        }

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px;
    }

        .notfound .notfound-404 h1 {
            font-size: 122px;
        }
}
