.logo {
    width: 50%;
}

.slider {
    background-image: url('../images/fondo-naranja.jpeg');
    background-position-y: -250px;
}

.main-container {
    background-image: url("../images/fondo-naranja.jpg");
}

.validation-msg {
    color: red;
    font-style: italic;
}